<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Hobby Favorito</title>
    <% include parts/head.html%>
</head>

<body class="animated fadeIn">
    <% include parts/navegador.html%>
    <h2>Álbum de Fotos </h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br />
                <img src="/img/2.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/foto 11.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/131.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/4.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/Henry-Cavill-2.png" align="left" style=" margin-bottom:40px" hspace=1>
            </div>
            <div class="col-md-6">
                <br />
                <img src="/img/10.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/1.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/3.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/thumb-350-380977.jpg" align="left" style=" margin-bottom:40px" hspace=1>
                <img src="/img/Rostro.jpg" align="left" style=" margin-bottom:40px" hspace=1>
            </div>
        </div>
    </div>
    <br /><br />
    <% include parts/footer.html%>
</body>

</html>