<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Hobby Favorito</title>
    <% include parts/head.html%>
</head>

<body class="animated 	fadeIn">
    <% include parts/navegador.html%>
    <header>
        <h1 align="Center" id="camara">Tipos de Cámaras </h1>
        <br /><br />
    </header>
    <section>
        <article>
            <img src="/img/compacta.jpg" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Cámaras Compactas</h2>
            <font size="4">
                <p align="justify">
                    Una cámara compacta o cámara de apuntar y disparar, es una cámara fotográfica sencilla cuyo objetivo
                    no es desmontable.
                    Las cámaras compactas suelen ser más sencillas de manejar que las cámaras Réflex y más económicas.
                    <br /> Normalmente su funcionalidad está limitada en comparación con las réflex, aunque suelen ser
                    más ligeras y fáciles de transportar,lo que las hace ideales para llevarlas de viaje.
                    <br />Son ideales para viajar o llevar a cualquier sitio porque caben en un bolsillo.
                    Aunque cada vez permiten más ajustes con este tipo de cámaras la creatividad es algo limitada.
                    Aunque algunas llevan un visor, éste suele ser más bien simbólico, y se encuadra utilizando la
                    pantalla.
                    El uso que se le da a las cámaras compactas es de aficionado.
                </p>
        </article>
        <br />
        <br />
        <article>
            <img src="/img/bridge22.jpeg" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Cámara compacta avanzada o bridge</h2>
            <font size="4">
                <p align="justify">
                    Cámara compacta avanzada, también conocida como cámara bridge,​ cámara compacta de zoom largo o
                    cámara súper zoom,​ es una cámara digital con funciones orientadas al aficionado avanzado, que
                    permiten mayor control sobre la obtención de la imagen (modos manuales, control de formato RAW —en
                    algunos modelos—), con un objetivo de gran alcance y versátil, no intercambiable y, (generalmente)
                    un visor electrónico.
                    Este tipo de cámaras incorporan sensores más pequeños, que las distingue de las réflex digitales
                    (equipadas con un sensor de formato APS-C o de 35mm —full frame—), lo cual las acerca más a las
                    cámaras compactas, incluyendo el término de calidad fotográfica; la relación señal a ruido (SNR) es
                    directamente proporcional al tamaño del sensor, lo cual las ubica en un segmento intermedio. <br />
                </p>
        </article>
        <br />
        <article>
            <img src="/img/medio.jpg" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Cámara medio formato</h2>
            <font size="4">
                <p align="justify">
                    Las cámaras de medio formato tienen un sensor mucho más grande que las DSLR.
                    Son cámaras dedicadas únicamente al ámbito profesional y científico donde la clave es poder realizar
                    ampliaciones realmente grandes.
                    <br />
                    Fuera de este tipo de fotografía no tiene sentido una cámara de estas características.
                    Por ello todos sus componentes y accesorios son de la máxima calidad y precisión, al igual que sus
                    precios son muy altos.
                    No hay un tipo de cámara perfecta, sino una cámara adecuada a las necesidades de cada uno. No
                    obstante la cámara DSLR suele ser la idónea para el aficionado interesado en controlar qué hace con
                    su cámara al hacer fotos y quiere ser creativo en sus fotos.Si bien la mayoría de los temas serán
                    válidos para todos los tipos de cámaras, el curso está más bien orientado a las cámaras DSLR.

                </p>
        </article>
        <br />
    </section>
    <hr />
    <br />
    <header>
        <h1 id="foto" align="Center">Tipos de fotografías </h1>
        <br /><br />
    </header>
    <section>
        <article>
            <img src="/img/fotoartis.jpg" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Fotografía artística</h2>
            <font size="4">
                <p align="justify">
                    En sencillas palabras es aquella que integra los componentes de una obra de arte. Tratar de
                    definirlos sería muy complejo para un espacio tan reducido, pero se puede categorizar a dos
                    categorías principales: el dominio técnico y su contenido.
                    A través del desarrollo de ambas cualidades, la obra de arte en general puede juzgarse tanto por su
                    nivel de dificultad (en tanto a su realización) como su profundidad conceptual. Juzgar una buena
                    fotografía resulta en apariencia algo muy complejo.
                    La fotografía artística, más allá de su belleza estética debe desembocar en un pensamiento; suscitar
                    una reacción. Plantear preguntas. Debe quedarse en la cabeza de quien la ve, debe transmitirle algo.
                    De otra manera será otra más de las miles de imágenes que se pasan por alto día a día.
                    <br />
                </p>
        </article>
        <br />
        <br />
        <article>
            <img src="/img/retrato.jpg" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Fotografía de retrato</h2>
            <font size="4">
                <p align="justify">
                    La fotografía de retrato es la modalidad fotográfica que se encarga de capturar la esencia de una
                    persona ya sea destacando la mirada, la pose o sus cualidades físicas en general y transmitir su
                    estado de ánimo u otro tipo de sensaciones.
                    Aunque normalmente relacionamos la fotografía de retrato a una foto de la cara en primer plano, esta
                    modalidad también recoge fotografías de cuerpo entero o incluso con el modelo o la modelo de
                    espaldas a la cámara.
                    Su práctica se encuentra ya en los inicios de la fotografía donde destaca la labor realizada por los
                    fotógrafos ambulantes, los fotógrafos comerciales de los estudios parisinos, los primeros retratos
                    psicológicos, el retrato popular presentado por la fotografía academicista, así como la obra
                    documental de David Octavius Hill.
                </p>
        </article>
        <br />
        <br />
        <article>
            <img src="/img/queso.png" align="left" style="margin-right:20px" hspace=1 border=5>

            <h2>Fotografia publicitaria</h2>
            <font size="4">
                <p align="justify">
                    Es aquel tipo de fotografía destinada a enseñar un producto o servicio, de la forma más atractiva
                    posible, con el objetivo de guiar al espectador hacia su adquisición.
                    Para esto, es necesario conocer algunos truquillos del gremio, que ayudan a guiar la vista (y la
                    mente) del espectador hacia el producto o servicio en cuestión, haciendo que éste resulte agradable.
                    Más adelante los veremos, pero antes tenemos que aprender algunas cositas sobre el mundillo:
                    <br />
                    La fotografía publicitaria es el único tipo de fotografía que tiene un elemento de juicio fuera de
                    toda subjetividad: El aumento de ventas.
                    Con esto no quiero decir que no tenga un valor técnico o artístico, sino que este es irrelevante si
                    no se cumple su fin principal: el aumento de exposición de la empresa cliente.
                </p>
        </article>
        <br />
    </section>
    <br /><br />
    <% include parts/footer.html%>

</body>

</html>