<nav class="navbar navbar-inverse ">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">La fotografía</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="/#historia">Historia</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tipos
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/tipo/#Camara">De Cámaras</a></li>
                        <li><a href="/tipo/#foto">De Fotografías</a></li>
                    </ul>
                </li>
                <li><a href="/album">Álbum de fotos</a></li>
                <li><a href="/contacto">Contáctame</a></li>
            </ul>
        </div>
    </div>
</nav>